
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}

.clearfix{
    clear: both;
    float: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.custom-link {
    color: black; 
    text-decoration: none; 
}
.custom-link:hover {
    color: #747d8c; 
    text-decoration: none; 
}


a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}




.logo{
    width: 10%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}




.book-search{
    background-image: url(../images/search.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.book-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}



.categories{
    padding: 4% 0;
}

.box-3{
    width: 18%;
    float: left;
    margin: 2%;
}



.book-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.book-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.book-menu-img{
    width: 20%;
    float: left;
}

.book-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.book-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.book-detail{
    font-size: 1rem;
    color: #747d8c;
}



.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}


.order{
    width: 50%;
    margin: 0 auto;
}

.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}


.book-details {
    display: flex;
    flex-wrap: wrap;
}
.book-image {
    flex: 1;
    padding: 10px;
}
.book-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}
.book-info {
    flex: 2;
    padding: 10px;
}
.book-info h2 {
    margin-top: 0;
}

.book-reviews {
    margin-top: 30px;
}

.review {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.review-text {
    font-style: italic;
}

.review-user {
    font-weight: bold;
    color: #333;
}

.nickname {
    color: #555;
    margin-left: 10px;
}

.review-date {
    float: right;
    color: #666;
}


.text-center {
    text-align: center;
}

/* Tablo Stili */
.tbl-full {
    width: 100%;
    border-collapse: collapse;
}

.tbl-full th,
.tbl-full td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.tbl-full th {
    background-color: #333;
    color: white;
}


.tbl-full tr:nth-child(even){
    background-color: #f2f2f2;
}

.tbl-full tr:hover {
    background-color: #ddd;
}


table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #ff4757;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}


@media (min-width: 1200px) {
    .container {
        width: 750px;
    }
}


@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 750px;
    }
}


@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}
